# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TheBoringRunner.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity Projects\TheBoringRunner\TheBoringRunner\.idea\.idea.TheBoringRunner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
